.arquivos {
    .form-control-file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;

        &:focus + label,
        &.has-focus + label{
            outline: 1px dotted #000;
            outline: -webkit-focus-ring-color auto 5px;
        }
    }
    label.btn {
        * {
            pointer-events: none;
        }
    }
}
