// Variables
@import 'variables';

// Config
@import 'config';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//DataTables
@import '~datatables.net-bs4/css/dataTables.bootstrap4';

//Fontawesome
@import '~@fortawesome/fontawesome-free-webfonts/scss/fontawesome';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-solid';

//Select2
@import '~select2/dist/css/select2';

//TinyMCE
@import '~tinymce/skins/lightgray/skin.min';
@import '~tinymce/skins/lightgray/skin.mobile.min';
@import '~tinymce/skins/lightgray/content.min';
@import '~tinymce/skins/lightgray/content.mobile.min';
@import '~tinymce/skins/lightgray/content.inline.min';

@import 'base';
