// Variables
@import "variables";

// Bootstrap

//DataTables
@import "node_modules/datatables.net-bs/css/dataTables.bootstrap";

body {
    >.container {
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        padding-bottom: 15px;
        padding-top: 15px;

        h2 {
            margin-bottom: 15px;
            margin-top: 0;
        }
    }
}
@import '~bootstrap/scss/bootstrap';

form.action {
    display: inline-block;
}
